#ulhorizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: red;
}

#ulhorizontal li {
    float: left;
}

#ulhorizontal a {
    display: block;
    text-align: center;
    padding: 15px;
    text-decoration: none;
}